/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do some  thing, just try searching Google for questions like
   "how to change link color." */
   
body {
  font-family: "MS UI Gothic", sans-serif;
  font-size: 1em;
  color: white;
  background-color: black;
   }
pre {
  font-size: 10px;
   }
.test {
  border: 1px solid white;
  padding: 10px;
  width: 400px;
  height: 300px;
  line-height: 1.4;
}
.text  {
  margin-left: 10px;
}

.wrapper {
  display: flex;
  align-items: flex-start; /* keeps image aligned nicely with top of the box */
  gap: 20px; /* space between pic + text */
}
pre {
  margin-top: 20px; /* adjust higher or lower */
}
.xio_wave {
  width: 100px;
}
.introduction {
  margin-left: 10px;
}
.art{
  position: relative;
  margin-left: 600px;
  margin-top: -400px;
  width: 20%;
}