body {
  font-family: "MS UI Gothic", sans-serif;
  color: white;
  background-color: black;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 0;
}

.xio_wave {
  width: 100px;
}

pre {
  margin: 0;
}

/* MAIN ROW */
.content-row {
  display: flex;
  gap: 40px;
  margin-top: 30px;
  margin-left: 40px;  /* aligns with the GIF + logo */
}

/* LEFT COLUMN ONLY */
.left-col {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* BOX STYLE */
.box {
  border: 1px solid white;
  background: black;
  padding: 20px;
  line-height: 1.4;
}

/* SIZE OF BOXES */
.small-box {
  width: 350px;
  height: 250px;
}

.big-box {
  width: 400px;
  height: 500px;
}
.logo-text {
  transform: translateX(-30px);   /* pull text closer horizontally */
}
